<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="example__logo"><img src="{{$root.config['logo-path']}}" alt=""> </a>
        </div>
        <ul class="nav navbar-nav push-left">
            <li>
                <a data-ui-sref="form_trade_finance">Trade Finance Form</a>
            </li>
            <li class="active">
                <a data-ui-sref="chameleon">Chameleon editor</a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li>
                <select ng-model="$root.currentTheme" class="form-control">
                    <option value="ebury">Ebury (Original Theme)</option>
                    <option value="divisamoney">Divisamoney Theme</option>
                </select>
            </li>
        </ul>
    </div>
</nav>



<div class="container">


    <div class="row">
        <div class="col-md-6">
            <div class="hero-unit">
                <h3 class="leader">Replace your logo</h3>
                <p class="note">
                    The image appearing on your Header and Reports
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <input id="company_logo" name="company[logo]" type="file">
                    </div>
                    <div class="col-md-6">
                        <input class="btn btn-success" name="commit" type="submit" value="Upload">
                    </div>
                </div>
                <br>
                <p>
                    Make it large (<em>e.g. 1000px wide</em>) and either PNG, GIF or JPG format.
                </p>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="hero-unit">
                <h3>Header</h3>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label>Header Theme</label>
                            <select ng-model="$root.config['navbar-class']" class="form-control">
                                <option value="navbar-inverse">Dark</option>
                                <option value="navbar-default">White</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <nav class="navbar navbar-static-top" ng-class="$root.config['navbar-class']">
                <div class="container">
                    <ul class="nav navbar-nav push-left">
                        <li>
                            <a data-ui-sref="form_trade_finance" href="#/form_trade_finance">Trade Finance Form</a>
                        </li>
                        <li class="active">
                            <a data-ui-sref="chameleon" href="#/chameleon">Chameleon editor</a>
                        </li>
                    </ul>

                
                </div>
            </nav>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="hero-unit">
                <h3>Forms</h3>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label>Header Font Color</label>
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="$root.config.CSS.children['.panel-default > .panel-heading']['attributes']['color']">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" ng-style="{'background-color': $root.config.CSS.children['.panel-default > .panel-heading']['attributes']['color']}" ng-model="$root.config.CSS.children['.panel-default > .panel-heading']['attributes']['color']" colorpicker type="button">
                                    </button>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label>Header Background Color</label>
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="$root.config.CSS.children['.panel-default > .panel-heading']['attributes']['background-color']">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" ng-style="{'background-color': $root.config.CSS.children['.panel-default > .panel-heading']['attributes']['background-color']}" ng-model="$root.config.CSS.children['.panel-default > .panel-heading']['attributes']['background-color']" colorpicker type="button">
                                    </button>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label>Form Font Color</label>
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="$root.config.CSS.children['.panel-default .form-group label']['attributes']['color']">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" ng-style="{'background-color': $root.config.CSS.children['.panel-default .form-group label']['attributes']['color']}" ng-model="$root.config.CSS.children['.panel-default .form-group label']['attributes']['color']" colorpicker type="button">
                                    </button>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label>Form Input Border</label>
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="$root.config.CSS.children['.panel-default .form-control']['attributes']['border-color']">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" ng-style="{'background-color': $root.config.CSS.children['.panel-default .form-control']['attributes']['border-color']}" ng-model="$root.config.CSS.children['.panel-default .form-control']['attributes']['border-color']" colorpicker type="button">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading" ng-style="{'color': $root.config.CSS.children['.panel-default > .panel-heading']['attributes']['color'], 'background-color': $root.config.CSS.children['.panel-default > .panel-heading']['attributes']['background-color']} ">
                    <h4>1. Your contact details</h4>
                </div>
                <div class="panel-body">

                    <form action="">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label ng-style="{'color': $root.config.CSS.children['.panel-default .form-group label']['attributes']['color']}" for="exampleInputEmail1">Contact name:</label>
                                    <input ng-style="{'border-color': $root.config.CSS.children['.panel-default .form-control']['attributes']['border-color']}" type="email" class="form-control" placeholder="Enter email">
                                </div>
                                <div class="form-group">
                                    <label ng-style="{'color': $root.config.CSS.children['.panel-default .form-group label']['attributes']['color']}" for="exampleInputPassword1">Position:</label>
                                    <input ng-style="{'border-color': $root.config.CSS.children['.panel-default .form-control']['attributes']['border-color']}" type="password" class="form-control" placeholder="Position">
                                </div>
                                <div class="form-group">
                                    <label ng-style="{'color': $root.config.CSS.children['.panel-default .form-group label']['attributes']['color']}">Email Address:</label>
                                    <input ng-style="{'border-color': $root.config.CSS.children['.panel-default .form-control']['attributes']['border-color']}" type="password" class="form-control" placeholder="Email Address">
                                </div>
                                <div class="form-group">
                                    <label ng-style="{'color': $root.config.CSS.children['.panel-default .form-group label']['attributes']['color']}" for="exampleInputPassword1">Telephone:</label>
                                    <input ng-style="{'border-color': $root.config.CSS.children['.panel-default .form-control']['attributes']['border-color']}" type="password" class="form-control" placeholder="Telephone">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<footer>
<div class="container">
    <button type="button" class="btn btn-success btn-lg pull-right" ng-click="saveChanges($root.config)">Save Changes</button>
</div>

</footer>


