.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}
// injector
@import 'chameleon/chameleon.scss';
@import 'form_trade_finance/form_trade_finance.scss';
// endinjector

.jumbotron {background: #1882ac; color: #fff;}